USE [master]
GO
/****** Object:  Database [SmartPetDispenserDB]    Script Date: 3/23/2026 4:49:55 PM ******/
CREATE DATABASE [SmartPetDispenserDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartPetDispenserDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartPetDispenserDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartPetDispenserDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SmartPetDispenserDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartPetDispenserDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartPetDispenserDB]
GO
/****** Object:  User [Cosmobl4ck]    Script Date: 3/23/2026 4:49:55 PM ******/
CREATE USER [Cosmobl4ck] FOR LOGIN [Cosmobl4ck] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[DISPENSADORES]    Script Date: 3/23/2026 4:49:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISPENSADORES](
	[id_dispensador] [int] IDENTITY(1,1) NOT NULL,
	[id_mascota] [int] NULL,
	[numero_serie] [varchar](50) NOT NULL,
	[capacidad_maxima_kg] [decimal](5, 3) NULL,
	[estado_online] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_dispensador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_DISPENSADO]    Script Date: 3/23/2026 4:49:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_DISPENSADO](
	[id_historial] [int] IDENTITY(1,1) NOT NULL,
	[id_dispensador] [int] NOT NULL,
	[fecha_hora_evento] [datetime] NULL,
	[cantidad_dispensada_g] [decimal](6, 1) NOT NULL,
	[id_tipo_comida] [int] NOT NULL,
	[modo_dispensado] [varchar](20) NOT NULL,
	[nivel_restante_kg] [decimal](5, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS_PROGRAMADOS]    Script Date: 3/23/2026 4:49:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS_PROGRAMADOS](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_dispensador] [int] NOT NULL,
	[hora_programada] [time](7) NOT NULL,
	[cantidad_dispensar_g] [int] NOT NULL,
	[id_tipo_comida] [int] NOT NULL,
	[activado] [bit] NULL,
	[lunes] [bit] NULL,
	[martes] [bit] NULL,
	[miercoles] [bit] NULL,
	[jueves] [bit] NULL,
	[viernes] [bit] NULL,
	[sabado] [bit] NULL,
	[domingo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGENES_MASCOTAS]    Script Date: 3/23/2026 4:49:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGENES_MASCOTAS](
	[id_imagen] [int] IDENTITY(1,1) NOT NULL,
	[id_mascota] [int] NOT NULL,
	[datos_imagen] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_imagen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASCOTAS]    Script Date: 3/23/2026 4:49:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASCOTAS](
	[id_mascota] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[nombre_mascota] [varchar](100) NOT NULL,
	[edad_anos] [int] NULL,
	[peso_kg] [decimal](5, 2) NULL,
	[altura_cm] [decimal](5, 2) NULL,
	[fecha_registro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_COMIDA]    Script Date: 3/23/2026 4:49:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_COMIDA](
	[id_tipo_comida] [int] IDENTITY(1,1) NOT NULL,
	[nombre_comida] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_comida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 3/23/2026 4:49:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre_usuario] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DISPENSADORES] ON 

INSERT [dbo].[DISPENSADORES] ([id_dispensador], [id_mascota], [numero_serie], [capacidad_maxima_kg], [estado_online]) VALUES (1, 1, N'SPD-100-FRANKY-TEST', CAST(2.000 AS Decimal(5, 3)), N'Online')
SET IDENTITY_INSERT [dbo].[DISPENSADORES] OFF
GO
SET IDENTITY_INSERT [dbo].[HISTORIAL_DISPENSADO] ON 

INSERT [dbo].[HISTORIAL_DISPENSADO] ([id_historial], [id_dispensador], [fecha_hora_evento], [cantidad_dispensada_g], [id_tipo_comida], [modo_dispensado], [nivel_restante_kg]) VALUES (1, 1, CAST(N'2026-03-23T16:23:32.360' AS DateTime), CAST(10.5 AS Decimal(6, 1)), 1, N'Manual', CAST(1.440 AS Decimal(5, 3)))
SET IDENTITY_INSERT [dbo].[HISTORIAL_DISPENSADO] OFF
GO
SET IDENTITY_INSERT [dbo].[HORARIOS_PROGRAMADOS] ON 

INSERT [dbo].[HORARIOS_PROGRAMADOS] ([id_horario], [id_dispensador], [hora_programada], [cantidad_dispensar_g], [id_tipo_comida], [activado], [lunes], [martes], [miercoles], [jueves], [viernes], [sabado], [domingo]) VALUES (1, 1, CAST(N'08:00:00' AS Time), 75, 1, 1, 1, 0, 1, 0, 1, 0, 0)
INSERT [dbo].[HORARIOS_PROGRAMADOS] ([id_horario], [id_dispensador], [hora_programada], [cantidad_dispensar_g], [id_tipo_comida], [activado], [lunes], [martes], [miercoles], [jueves], [viernes], [sabado], [domingo]) VALUES (2, 1, CAST(N'18:00:00' AS Time), 75, 1, 1, 0, 1, 0, 1, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[HORARIOS_PROGRAMADOS] OFF
GO
SET IDENTITY_INSERT [dbo].[MASCOTAS] ON 

INSERT [dbo].[MASCOTAS] ([id_mascota], [id_usuario], [nombre_mascota], [edad_anos], [peso_kg], [altura_cm], [fecha_registro]) VALUES (1, 1, N'Firu', 2, CAST(12.00 AS Decimal(5, 2)), CAST(45.00 AS Decimal(5, 2)), CAST(N'2026-03-23T16:18:10.860' AS DateTime))
SET IDENTITY_INSERT [dbo].[MASCOTAS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOS_COMIDA] ON 

INSERT [dbo].[TIPOS_COMIDA] ([id_tipo_comida], [nombre_comida]) VALUES (1, N'Seca (Kibble)')
SET IDENTITY_INSERT [dbo].[TIPOS_COMIDA] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([id_usuario], [nombre_usuario], [password_hash], [fecha_creacion]) VALUES (1, N'Rodri', N'A_REAL_BCRYPT_HASH_HERE', CAST(N'2026-03-23T16:16:30.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DISPENSA__D8D7353C6354C1BD]    Script Date: 3/23/2026 4:49:56 PM ******/
ALTER TABLE [dbo].[DISPENSADORES] ADD UNIQUE NONCLUSTERED 
(
	[numero_serie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__IMAGENES__6F0373538C4E75BD]    Script Date: 3/23/2026 4:49:56 PM ******/
ALTER TABLE [dbo].[IMAGENES_MASCOTAS] ADD UNIQUE NONCLUSTERED 
(
	[id_mascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TIPOS_CO__8D79F10FE77BC623]    Script Date: 3/23/2026 4:49:56 PM ******/
ALTER TABLE [dbo].[TIPOS_COMIDA] ADD UNIQUE NONCLUSTERED 
(
	[nombre_comida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIOS__D4D22D746F298B62]    Script Date: 3/23/2026 4:49:56 PM ******/
ALTER TABLE [dbo].[USUARIOS] ADD UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DISPENSADORES] ADD  DEFAULT ((2.000)) FOR [capacidad_maxima_kg]
GO
ALTER TABLE [dbo].[DISPENSADORES] ADD  DEFAULT ('Offline') FOR [estado_online]
GO
ALTER TABLE [dbo].[HISTORIAL_DISPENSADO] ADD  DEFAULT (getdate()) FOR [fecha_hora_evento]
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS] ADD  DEFAULT ((1)) FOR [activado]
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS] ADD  DEFAULT ((0)) FOR [lunes]
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS] ADD  DEFAULT ((0)) FOR [martes]
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS] ADD  DEFAULT ((0)) FOR [miercoles]
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS] ADD  DEFAULT ((0)) FOR [jueves]
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS] ADD  DEFAULT ((0)) FOR [viernes]
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS] ADD  DEFAULT ((0)) FOR [sabado]
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS] ADD  DEFAULT ((0)) FOR [domingo]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT ((0)) FOR [edad_anos]
GO
ALTER TABLE [dbo].[MASCOTAS] ADD  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[DISPENSADORES]  WITH CHECK ADD  CONSTRAINT [FK_Dispensador_Mascota] FOREIGN KEY([id_mascota])
REFERENCES [dbo].[MASCOTAS] ([id_mascota])
GO
ALTER TABLE [dbo].[DISPENSADORES] CHECK CONSTRAINT [FK_Dispensador_Mascota]
GO
ALTER TABLE [dbo].[HISTORIAL_DISPENSADO]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Dispensador] FOREIGN KEY([id_dispensador])
REFERENCES [dbo].[DISPENSADORES] ([id_dispensador])
GO
ALTER TABLE [dbo].[HISTORIAL_DISPENSADO] CHECK CONSTRAINT [FK_Historial_Dispensador]
GO
ALTER TABLE [dbo].[HISTORIAL_DISPENSADO]  WITH CHECK ADD  CONSTRAINT [FK_Historial_TipoComida] FOREIGN KEY([id_tipo_comida])
REFERENCES [dbo].[TIPOS_COMIDA] ([id_tipo_comida])
GO
ALTER TABLE [dbo].[HISTORIAL_DISPENSADO] CHECK CONSTRAINT [FK_Historial_TipoComida]
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS]  WITH CHECK ADD  CONSTRAINT [FK_Horario_Dispensador] FOREIGN KEY([id_dispensador])
REFERENCES [dbo].[DISPENSADORES] ([id_dispensador])
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS] CHECK CONSTRAINT [FK_Horario_Dispensador]
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS]  WITH CHECK ADD  CONSTRAINT [FK_Horario_TipoComida] FOREIGN KEY([id_tipo_comida])
REFERENCES [dbo].[TIPOS_COMIDA] ([id_tipo_comida])
GO
ALTER TABLE [dbo].[HORARIOS_PROGRAMADOS] CHECK CONSTRAINT [FK_Horario_TipoComida]
GO
ALTER TABLE [dbo].[IMAGENES_MASCOTAS]  WITH CHECK ADD  CONSTRAINT [FK_Imagen_Mascota] FOREIGN KEY([id_mascota])
REFERENCES [dbo].[MASCOTAS] ([id_mascota])
GO
ALTER TABLE [dbo].[IMAGENES_MASCOTAS] CHECK CONSTRAINT [FK_Imagen_Mascota]
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD  CONSTRAINT [FK_Mascota_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[MASCOTAS] CHECK CONSTRAINT [FK_Mascota_Usuario]
GO
ALTER TABLE [dbo].[HISTORIAL_DISPENSADO]  WITH CHECK ADD CHECK  (([modo_dispensado]='Programado' OR [modo_dispensado]='Manual'))
GO
USE [master]
GO
