USE [master]
GO

-- 1. ELIMINAR BASE DE DATOS SI EXISTE (Para evitar errores de 'en uso' o 'ya existe')
IF EXISTS (SELECT * FROM sys.databases WHERE name = 'SmartPetDispenserDB')
BEGIN
    ALTER DATABASE [SmartPetDispenserDB] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [SmartPetDispenserDB];
END
GO

-- 2. CREAR BASE DE DATOS (Limpia y sencilla para LocalDB)
CREATE DATABASE [SmartPetDispenserDB]
GO

USE [SmartPetDispenserDB]
GO

-- 3. CREAR TABLAS
CREATE TABLE [dbo].[USUARIOS](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[nombre_usuario] [varchar](50) NOT NULL UNIQUE,
	[password_hash] [varchar](255) NOT NULL,
	[fecha_creacion] [datetime] DEFAULT GETDATE()
)
GO

CREATE TABLE [dbo].[MASCOTAS](
	[id_mascota] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[id_usuario] [int] NOT NULL,
	[nombre_mascota] [varchar](100) NOT NULL,
	[edad_anos] [int] DEFAULT 0,
	[peso_kg] [decimal](5, 2) NULL,
	[altura_cm] [decimal](5, 2) NULL,
	[fecha_registro] [datetime] DEFAULT GETDATE(),
    CONSTRAINT [FK_Mascota_Usuario] FOREIGN KEY([id_usuario]) REFERENCES [dbo].[USUARIOS] ([id_usuario])
)
GO

CREATE TABLE [dbo].[DISPENSADORES](
	[id_dispensador] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[id_mascota] [int] NULL,
	[numero_serie] [varchar](50) NOT NULL UNIQUE,
	[capacidad_maxima_kg] [decimal](5, 3) DEFAULT 2.000,
	[estado_online] [varchar](20) DEFAULT 'Offline',
    CONSTRAINT [FK_Dispensador_Mascota] FOREIGN KEY([id_mascota]) REFERENCES [dbo].[MASCOTAS] ([id_mascota])
)
GO

CREATE TABLE [dbo].[TIPOS_COMIDA](
	[id_tipo_comida] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[nombre_comida] [varchar](50) NOT NULL UNIQUE
)
GO

CREATE TABLE [dbo].[HORARIOS_PROGRAMADOS](
	[id_horario] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[id_dispensador] [int] NOT NULL,
	[hora_programada] [time](7) NOT NULL,
	[cantidad_dispensar_g] [int] NOT NULL,
	[id_tipo_comida] [int] NOT NULL,
	[activado] [bit] DEFAULT 1,
	[lunes] [bit] DEFAULT 0, [martes] [bit] DEFAULT 0, [miercoles] [bit] DEFAULT 0, 
    [jueves] [bit] DEFAULT 0, [viernes] [bit] DEFAULT 0, [sabado] [bit] DEFAULT 0, [domingo] [bit] DEFAULT 0,
    CONSTRAINT [FK_Horario_Dispensador] FOREIGN KEY([id_dispensador]) REFERENCES [dbo].[DISPENSADORES] ([id_dispensador]),
    CONSTRAINT [FK_Horario_TipoComida] FOREIGN KEY([id_tipo_comida]) REFERENCES [dbo].[TIPOS_COMIDA] ([id_tipo_comida])
)
GO

CREATE TABLE [dbo].[HISTORIAL_DISPENSADO](
	[id_historial] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[id_dispensador] [int] NOT NULL,
	[fecha_hora_evento] [datetime] DEFAULT GETDATE(),
	[cantidad_dispensada_g] [decimal](6, 1) NOT NULL,
	[id_tipo_comida] [int] NOT NULL,
	[modo_dispensado] [varchar](20) CHECK ([modo_dispensado] IN ('Programado', 'Manual')),
	[nivel_restante_kg] [decimal](5, 3) NOT NULL,
    CONSTRAINT [FK_Historial_Dispensador] FOREIGN KEY([id_dispensador]) REFERENCES [dbo].[DISPENSADORES] ([id_dispensador]),
    CONSTRAINT [FK_Historial_TipoComida] FOREIGN KEY([id_tipo_comida]) REFERENCES [dbo].[TIPOS_COMIDA] ([id_tipo_comida])
)
GO

CREATE TABLE [dbo].[IMAGENES_MASCOTAS](
	[id_imagen] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[id_mascota] [int] NOT NULL UNIQUE,
	[datos_imagen] [varbinary](max) NOT NULL,
    CONSTRAINT [FK_Imagen_Mascota] FOREIGN KEY([id_mascota]) REFERENCES [dbo].[MASCOTAS] ([id_mascota])
)
GO

-- 4. INSERTAR DATOS DE PRUEBA (Para que el Login funcione)
SET IDENTITY_INSERT [dbo].[USUARIOS] ON
INSERT [dbo].[USUARIOS] ([id_usuario], [nombre_usuario], [password_hash]) 
VALUES (1, N'Admin', N'12345')
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF

SET IDENTITY_INSERT [dbo].[TIPOS_COMIDA] ON
INSERT [dbo].[TIPOS_COMIDA] ([id_tipo_comida], [nombre_comida]) VALUES (1, N'Seca (Kibble)')
SET IDENTITY_INSERT [dbo].[TIPOS_COMIDA] OFF

SET IDENTITY_INSERT [dbo].[MASCOTAS] ON
INSERT [dbo].[MASCOTAS] ([id_mascota], [id_usuario], [nombre_mascota], [edad_anos], [peso_kg]) 
VALUES (1, 1, N'Firu', 2, 12.5)
SET IDENTITY_INSERT [dbo].[MASCOTAS] OFF

SET IDENTITY_INSERT [dbo].[DISPENSADORES] ON
INSERT [dbo].[DISPENSADORES] ([id_dispensador], [id_mascota], [numero_serie], [estado_online]) 
VALUES (1, 1, N'SPD-100-TEST', N'Online')
SET IDENTITY_INSERT [dbo].[DISPENSADORES] OFF
GO

-- 5. CREAR TABLA SUSCRIPTORES
CREATE TABLE [dbo].[Suscriptores](
    [Id]         INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Nombre]     NVARCHAR(100) NOT NULL,
    [Apellido]   NVARCHAR(100),
    [Celular]    NVARCHAR(20),
    [Correo]     NVARCHAR(150) NOT NULL,
    [Contrasena] NVARCHAR(100) NOT NULL,
    [Usuario]    NVARCHAR(100) NOT NULL
);
GO

-- 6. INSERTAR USUARIO DE PRUEBA
INSERT INTO [dbo].[Suscriptores] (Nombre, Apellido, Celular, Correo, Contrasena, Usuario)
VALUES ('Admin', '', '', 'admin@test.com', '12345', 'Admin');
GO

